.table{
	// margin-left: 20px;
	// width: calc(~"100% - 40px");
	// float: left;
	margin-top: 20px;
	//margin-right: 20px;
	//width: 100%;
}
.tab{
	margin: 20px;
	//  border-left: 1px solid #dbdbdb;
	//  border-right:1px solid #dbdbdb ;
	//  border: 1px solid #dbdbdb;
	//  padding-bottom: 10px;
}
.pane{

}
.space{
	padding-left: 20px;
}
.subHeight{
	height: 20px;
}

